@using EFCore.Entities
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (!User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
    else
    {
        @if (User.Identity.IsAuthenticated)
        {
            @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
            {
                <li class="nav-item">
                    <img class="rounded-circle" width="40" height="40"
                         alt="profile" src="data:image/*;base64,@(Convert.
                            ToBase64String(UserManager.GetUserAsync(User).
                                Result.ProfilePicture))" />
                </li>
            }
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Sign out</a>
        </li>
    }
</ul>