@model IEnumerable<UserRolesViewModel>
@{
    ViewData["Title"] = "Users Roles";
}

<h1>User Roles</h1>
<hr />

<table class="table table-hover table-borderless">
    <tr>
        <th>User</th>
        <th>Assigned roles</th>
        <th></th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td> @string.Join(", ", user.Roles)</td>
            <td>
                <a class="btn btn-primary" asp-action="Manage" asp-route-userId=@user.Id>Manage Roles</a>
            </td>
        </tr>
    }
</table>
